Part 2

For part 2 of the project, you will be engineering a MySQL database for your IMDB movie data. You will examine the data to determine the correct SQL data type and size for each column. You will then construct the ERD and forward engineer the database. Finally, you will insert your IMDB data into your database from a jupyter notebook.

Specifications - Database
Your stakeholder wants you to take your data from Part 1 of the project and to create a MySQL database with the requested columns/features. Specifically, they would like the following tables and columns included in your database:

A "title_basics" table, which conta- ins:

tconst (as the prima- ry key)
prima- ry_title
s- tart_ye
- ar
runtime
A "ratings" table, which - contains::

tconst (as the-  primary key)
- average_rating

number_of_votes
They want the Genres from title basics included in the database, but they want the tables normalized. You will learn how to process and normalize the genres next week. For now, you will include the tables in your database, but will not insert any data until Part 3.

A "genres" table- , which includes:

genre_id (New): a numeric ID for each-  genre (primary key)
genre_name (New): the fu
ll name of each genre
A "title_genres" table (or "title_has_genres" ta- ble), w- hich inc
ludes:

tconst
genre_id
Hint: let MySQL's ERD editor help you create this table.

# Design the Database Model/ERD

Confirm the Database has been updated correctly

In [16]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote
from sqlalchemy.types import VARCHAR, CHAR, DECIMAL, DATE, DATETIME

In [2]:
username = "root"
password = "root" 

connection = f"mysql+pymysql://{username}:{password}@localhost/imdb"
engine = create_engine(connection)
conn = engine.connect()

In [3]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_imdb
0         genres
1        ratings
2   title_basics
3   title_genres

In [4]:
##check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [5]:
q= '''SELECT * FROM ratings'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [tconst, average_rating, number_of_votes]
Index: []

### Load Ratings

In [6]:
ratings = pd.read_csv('Data/title_ratings.csv')
ratings.head()

      tconst  averageRating  numVotes
0  tt0035423            6.4     87153
1  tt0062336            6.4       175
2  tt0069049            6.7      7754
3  tt0088751            5.2       336
4  tt0096056            5.6       846

In [7]:
q = """DESCRIBE ratings;"""
describe_r = pd.read_sql(q, conn)
describe_r

             Field Type Null  Key Default           Extra
0           tconst  int   NO  PRI    None  auto_increment
1   average_rating  int  YES         None
2  number_of_votes  int  YES         None

In [8]:
describe_r['Field'].values

array(['tconst', 'average_rating', 'number_of_votes'], dtype=object)

In [9]:
ratings.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [10]:
rename_map = {"averageRating":"average_rating",
             "numVotes":"number_of_votes"}
ratings = ratings.rename(rename_map,axis=1)
ratings.head(2)

      tconst  average_rating  number_of_votes
0  tt0035423             6.4            87153
1  tt0062336             6.4              175

In [11]:
ratings.columns

Index(['tconst', 'average_rating', 'number_of_votes'], dtype='object')

In [12]:
describe_r[['Field','Type']]

             Field Type
0           tconst  int
1   average_rating  int
2  number_of_votes  int

In [13]:
ratings.dtypes

tconst              object
average_rating     float64
number_of_votes      int64
dtype: object

In [14]:
#Getting error data already in
ratings.to_sql("ratings",conn,index=False, if_exists='append')

DataError: (pymysql.err.DataError) (1366, "Incorrect integer value: 'tt0035423' for column 'tconst' at row 1")
[SQL: INSERT INTO ratings (tconst, average_rating, number_of_votes) VALUES (%(tconst)s, %(average_rating)s, %(number_of_votes)s)]
[parameters: ({'tconst': 'tt0035423', 'average_rating': 6.4, 'number_of_votes': 87153}, {'tconst': 'tt0062336', 'average_rating': 6.4, 'number_of_votes': 175}, {'tconst': 'tt0069049', 'average_rating': 6.7, 'number_of_votes': 7754}, {'tconst': 'tt0088751', 'average_rating': 5.2, 'number_of_votes': 336}, {'tconst': 'tt0096056', 'average_rating': 5.6, 'number_of_votes': 846}, {'tconst': 'tt0100275', 'average_rating': 6.5, 'number_of_votes': 347}, {'tconst': 'tt0103340', 'average_rating': 6.3, 'number_of_votes': 354}, {'tconst': 'tt0108549', 'average_rating': 7.7, 'number_of_votes': 33}  ... displaying 10 of 71900 total bound parameter sets ...  {'tconst': 'tt9916190', 'average_rating': 3.7, 'number_of_votes': 243}, {'tconst': 'tt9916362', 'average_rating': 6.4, 'number_of_votes': 5422})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [15]:
q = """SELECT * FROM ratings;"""
pd.read_sql(q,engine)

Empty DataFrame
Columns: [tconst, average_rating, number_of_votes]
Index: []

### Load Basics

In [17]:
basics = pd.read_csv('Data/title_Basics.csv')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [18]:
q = """DESCRIBE title_basics;"""
describe_b = pd.read_sql(q, conn)
describe_b

           Field      Type Null  Key Default           Extra
0         tconst       int   NO  PRI    None  auto_increment
1  primary_title  longtext  YES         None
2     start_year  datetime  YES         None
3        runtime       int  YES         None

In [19]:
describe_b['Field'].values

array(['tconst', 'primary_title', 'start_year', 'runtime'], dtype=object)

In [20]:
basics.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [21]:
basics.drop(columns=['titleType', 'originalTitle', 'isAdult', 'endYear', 'genres'], inplace=True)
basics.columns

Index(['tconst', 'primaryTitle', 'startYear', 'runtimeMinutes'], dtype='object')

In [22]:
rename_map = {"primaryTitle":"primary_title",
             "startYear":"start_year",
             "runtimeMinutes":"runtime"}
basics = basics.rename(rename_map,axis=1)
basics.head(2)

,tconst,primary_title,start_year,runtime
0,tt0035423,Kate & Leopold,2001.0,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70

In [23]:
basics.columns

Index(['tconst', 'primary_title', 'start_year', 'runtime'], dtype='object')

In [24]:
describe_b[['Field','Type']]

           Field      Type
0         tconst       int
1  primary_title  longtext
2     start_year  datetime
3        runtime       int

In [25]:
basics.dtypes

tconst            object
primary_title     object
start_year       float64
runtime            int64
dtype: object

In [26]:
basics['start_year'] = pd.to_datetime(basics['start_year'])
basics.dtypes

tconst                   object
primary_title            object
start_year       datetime64[ns]
runtime                   int64
dtype: object

In [27]:
basics.head()

,tconst,primary_title,start_year,runtime
0,tt0035423,Kate & Leopold,1970-01-01 00:00:00.000002001,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,1970-01-01 00:00:00.000002020,70
2,tt0069049,The Other Side of the Wind,1970-01-01 00:00:00.000002018,122
3,tt0088751,The Naked Monster,1970-01-01 00:00:00.000002005,100
4,tt0096056,Crime and Punishment,1970-01-01 00:00:00.000002002,126

In [33]:
#Getting error data already in
basics.to_sql("title_basics",conn,index=False, if_exists='append')

DataError: (pymysql.err.DataError) (1366, "Incorrect integer value: 'tt0035423' for column 'tconst' at row 1")
[SQL: INSERT INTO title_basics (tconst, primary_title, start_year, runtime) VALUES (%(tconst)s, %(primary_title)s, %(start_year)s, %(runtime)s)]
[parameters: ({'tconst': 'tt0035423', 'primary_title': 'Kate & Leopold', 'start_year': datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'runtime': 118}, {'tconst': 'tt0062336', 'primary_title': 'The Tango of the Widower and Its Distorting Mirror', 'start_year': datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'runtime': 70}, {'tconst': 'tt0069049', 'primary_title': 'The Other Side of the Wind', 'start_year': datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'runtime': 122}, {'tconst': 'tt0088751', 'primary_title': 'The Naked Monster', 'start_year': datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'runtime': 100}, {'tconst': 'tt0096056', 'primary_title': 'Crime and Punishment', 'start_year': datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'runtime': 126}, {'tconst': 'tt0100275', 'primary_title': 'The Wandering Soap Opera', 'start_year': datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'runtime': 80}, {'tconst': 'tt0103340', 'primary_title': 'Life for Life: Maximilian Kolbe', 'start_year': datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'runtime': 90}, {'tconst': 'tt0108549', 'primary_title': 'West from North Goes South', 'start_year': datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'runtime': 96}  ... displaying 10 of 86979 total bound parameter sets ...  {'tconst': 'tt9916190', 'primary_title': 'Safeguard', 'start_year': datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'runtime': 95}, {'tconst': 'tt9916362', 'primary_title': 'Coven', 'start_year': datetime.datetime(1970, 1, 1, 0, 0, 0, 2), 'runtime': 92})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [29]:
q = """SELECT * FROM title_basics;"""
pd.read_sql(q,conn)

Empty DataFrame
Columns: [tconst, primary_title, start_year, runtime]
Index: []

In [30]:
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q, engine)

   @@FOREIGN_KEY_CHECKS
0                     1

In [31]:
q = """SET @@FOREIGN_KEY_CHECKS=0"""
engine.execute(q)

In [32]:
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q,engine)

   @@FOREIGN_KEY_CHECKS
0                     0